.container {
  display: flex;
  width: 60vw;
  margin-top: 2vh;
  margin-left: 20vw;
}
ul {
  margin: 0vw;
  padding: 0.5vh 0vw;
}
.list-element {
  display: flex;
  width: 15vw;
  height: 50px;
  padding: 1vh 0.5vw;
  margin: 2% 1%;
  align-items: center;
}
.image {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.image-title {
  width: 60%;
  font-size: 20px;
  padding: 0vh 0.5vw;
  flex: 1;
  white-space: nowrap;
  /* /* white-space: normal; */
  word-break: break-all;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.selected {
  background-color: blue;
  border-radius: 6px;
  color: white !important ;
}
.preview {
  flex-direction: column;
  width: 35vw;
  height: 90vh;
  padding: 0.5vh 0.5vw;
}
.big-image {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin: 0vh 0.5vw;
  border-radius: 5px;
}
.big-title {
  margin: 2vh 1vw;
  font-size: 1.5vw;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    margin-left: 30vw;
    margin-top: 4vh;
  }
  .preview {
    width: 50vw;
    height: 90vh;
  }
  ul {
    padding: 0.5vh 0.5vw;
  }
  .list-element {
    width: 40vw;
    height: auto;
    margin: 1% 1%;
    padding: 1% 1%;
  }
  .preview {
    height: 50vh;
  }
  .big-image {
    margin: 0.5vh 0vw;
  }
}
